.container{
    width: 60%;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 15px 15px 15px 15px;
    background-color: antiquewhite;


}


.header{
    border-radius: 15px 15px 0px 0px;
    background-color:lightseagreen
    

}

.footer{
    height: 90px;
    border-radius: 0px 0px 15px 15px;
    background-color:lightseagreen
}

.formcontrol{
   
width: 100%;
border-radius: 6px;
    
 
}

.formcontrol1{
    height: 20px;    
    border-radius: 6px;
}

.formcontrol2{
    height: 20px;
    border-radius: 6px;
}

.formcontrol3{
    height: 20px;
   
    border-radius: 6px;
}

.formcontrol4{
    height: 20px;
    border-radius: 6px;
}

.formcontrol5{
    height: 20px;
    border-radius: 6px;
}

.formcontrol6{
    height: 20px;
    width: 40%;
    border-radius: 6px;
}

.formcontrol7{
    height: 20px;
    width: 50%;
    border-radius: 6px;
}

.formcontrol8{
    height: 30px;
    width: 50%;
    border-radius: 6px;
    background-color: lightseagreen;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-group{

    border-radius: 10px;
}


input[name="prefer"]{
    accent-color: red;
}

input[type="radio"]{
    accent-color: green;
}

